body {
  margin-top: 40px;
  text-align: center;
}

h4 {
  padding-top: 40px;
}

img {
  width: 250px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

@font-face {
    font-family: 'socicon';
    src: url('font/socicon-webfont.eot');
    src: url('font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/socicon-webfont.woff') format('woff'),
         url('font/socicon-webfont.ttf') format('truetype'),
         url('font/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

a {
  color: black;
  font-weight: bold;
}

.social, .social a, .social a:active {
    font-family: 'socicon' !important;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

@media (min-width: 550px) {
  body {
    margin-top: 100px;
    text-align: center;
  }
}